* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(to right, lightyellow, pink);
}
nav {
  background-image: linear-gradient(to right, pink, lightyellow);
  width: 100%;
  height: 90px;
}
.nav-pillss {
  --bs-nav-pillss-border-radius: var(--bs-border-radius);
  --bs-nav-pillss-link-active-color: green;
  --bs-nav-pillss-link-active-bg: lightyellow;
}
.nav-pillss .nav-link {
  border-radius: var(--bs-nav-pillss-border-radius);
}
.nav-pillss .nav-link.active,
.nav-pillss .show > .nav-link {
  color: var(--bs-nav-pillss-link-active-color);
  background-color: var(--bs-nav-pillss-link-active-bg);
}

.whole_container,
.parts {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to right, lightyellow, pink);
}
.posters {
  width: 100%;
  display: flex;
}
.p1 {
  width: 100%;
}
.p2 {
  width: 100%;
  overflow: hidden;
}
section {
  width: 100%;
}
section p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  text-align: center;
  text-wrap: wrap;
}
.h1_titles {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: goldenrod;
  letter-spacing: 2px;
  -webkit-text-stroke: 0.8px yellowgreen;
  text-align: center;
}
article {
  display: flex;
  align-items: center;
}

.mob_image {
  width: 30%;
}
.info_texts {
  width: 100%;
  font-weight: 1000;
  font-size: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: mediumvioletred;
  letter-spacing: 2px;
  text-wrap: wrap;
  -webkit-text-stroke: 0.2px gold;
  text-align: center;
}
.h1_titles {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: goldenrod;
  letter-spacing: 2px;
  -webkit-text-stroke: 0.8px yellowgreen;
  text-align: center;
}
.loc_txt {
  width: 100%;
  font-weight: 1000;
  font-size: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: mediumvioletred;
  letter-spacing: 2px;
  text-wrap: wrap;
  -webkit-text-stroke: 0.1px gold;
  text-align: center;
}
.g_link {
  width: 100%;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: blue;
  letter-spacing: 2px;
  text-wrap: wrap;
  -webkit-text-stroke: 1px yellowgreen;
  font-size: 18px;
  text-align: left;
}
@media screen and (max-width: 600px) {
  section p {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    text-align: center;
    text-wrap: wrap;
  }

  .info_texts {
    width: 100%;
    font-weight: 1000;
    font-size: 15px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    color: mediumvioletred;
    letter-spacing: 2px;
    text-wrap: wrap;
    -webkit-text-stroke: 0.1px gold;
    text-align: center;
  }
}
